/* Override default Dashboard styles (index.html) */
.dashboard-btn {
	height: 150px;
	margin: 10px auto;
	width: 50%;
}

#or {
	float: left;
	padding-left: 25px;
	padding-right: 25px;
}

#separator {
	padding-bottom: 100px;
}

.ui-select {
	margin-right: 0;
	width: 100%;
}

#zip-code {
	float: left;
	width: 40%;
}